apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -dev

commonLabels:
  environment: dev

replicas:
  - name: vote
    count: 1
  - name: result
    count: 1
