apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -prod

commonLabels:
  environment: prod

replicas:
  - name: vote
    count: 5
  - name: result
    count: 3
