name: CI Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [vote, result]

    steps:
      - uses: actions/checkout@v6

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Image
        run: |
          docker build -t anik1999/${{ matrix.service }}-app:${{ github.sha }} ./${{ matrix.service }}
          docker push anik1999/${{ matrix.service }}-app:${{ github.sha }}

  update-manifest:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v6

      - name: Update vote image
        run: |
          sed -i "s|image: anik1999/vote-app:.*|image: anik1999/vote-app:${{ github.sha }}|" k8s-specifications/k8s/base/vote-deployment.yaml

      - name: Update result image
        run: |
          sed -i "s|image: anik1999/result-app:.*|image: anik1999/result-app:${{ github.sha }}|" k8s-specifications/k8s/base/result-deployment.yaml

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update images to ${{ github.sha }}" || echo "No changes"
          git push
